h1 {
    color: rgb(0, 128, 41);
    margin-left: 20px;
    font-family: 'Belanosima', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-12 {
    text-align: center;
}

body{
    margin-top: 20px;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    height: 150vh;
}

iframe{
    border-radius: 20px;
    box-shadow: 0 10px 20px;
    
}

p{
    font-family: 'Bacasime Antique', serif;
}

button{
    border-radius: 20px;
    background-color: yellow;
}

.h1Red{
    padding: 20px;
    color: rgb(143, 8, 8);
    font-family:'Times New Roman', Times, serif
}

.redBody{
    margin-top: 20px;
    background: linear-gradient(0deg, rgb(195, 120, 34) 0%, rgb(230, 73, 6)100%);
    height: 150vh;
}

.h1Green{
    padding: 20px;
    color: rgb(8, 151, 42);
    font-family:'Times New Roman', Times, serif
}

img{
  border-radius: 20px;
  width: 300px;
  height: auto;
  box-shadow: 0px 10px 20px;
}
.greenBody{
    margin-top: 20px;
    background: linear-gradient(0deg, rgb(109, 228, 98) 0%, rgb(42, 193, 70)100%);
    height: 150vh;
}

.h1Yellow{
    padding: 20px;
    color: rgb(171, 180, 13);
    font-family:'Times New Roman', Times, serif
}

.yellowBody{
    margin-top: 20px;
    background: linear-gradient(0deg, rgb(158, 156, 28) 0%, rgb(250, 238, 5)100%);
    height: 150vh;
}

.h1Blue{
    padding: 20px;
    color: rgb(7, 182, 241);
    font-family:'Times New Roman', Times, serif
}

.blueBody{
    margin-top: 20px;
    background: linear-gradient(0deg, rgb(20, 182, 219) 0%, rgb(8, 18, 215)100%);
    height: 150vh;
}

h3{
    font-family: 'Borel', cursive;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1.5rem; 
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}

.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;
}

.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}

.an{
  color: rgb(0, 128, 41);
  margin-left: 20px;
  font-family: 'Belanosima', sans-serif;
}